.responsive {
  width: 100%;
  height: 70%;
}

.first-background {
  background: #58cea5;
  font-size: 15px;
}

.second-background {
  background: rgb(240, 128, 128);
  font-size: 15px;
}

.button-styling {
  color: white;
  border-radius: 30px;
}

.test-spacing {
  margin-top: 100px;
}

.test-spacing1 {
  margin-top: 100px;
}

@media only screen and (max-width: 640px) {
  .first-background {
    margin-bottom: 20px;
  }
  .test-spacing1 {
    margin-top: 300px;
  }
}
